<% if can_delete_project?(@project) %> 
	<%= simple_form_for(@project, html: {class: 'form-horizontal'}) do |f| %>
	<p class="text-warning">
		Since you are the owner of this project, you are allowed to delete it.
		<br>
		<br>
		This is irreversible. Deleting a project will delete all the tickets and related information about the project.
	</p>
	<div class="form-actions">
		<%= link_to "Yes, I understand. Delete '#{@project}' project anyway.", project_path(@project, :current_tab => 'delete-project'), :method => 'delete', confirm: "Are you sure you want to permanently delete this project, along with all of it's tickets?", class: 'btn btn-danger' %>
	</div>
	<% end %>
<% end %>