<% @projects.sort{|a,b| a.title.downcase <=> b.title.downcase}.each do |project| %>
<div class="project-block">
  <div class="row-fluid">
    <h4 class="span9">
      <%= link_to project.title, project_path(project) %>
      <br>
      <small>
        <%= project.description %>
      </small>
    </h4>
    <div class="span3">
      <% if project.logo.present?%>
        <%= image_tag(project.logo_url(:thumb), :class => "img-padded img-polaroid") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

