<div class="document">
  <% if policy(document).show? %>
    <%= link_to document.to_s, download_document_path(document) %>
  <% else %>
    <%= document.to_s %>
  <% end %>
</div>

<!--
need to not render a button, but rather act directly on user input

For all files,
 - I want to see and change the name of the file.
 - I want to click to download the file.
 - I want to be able delete a file

For image files,
 - I want to see a preview



So we are going for the "get it on the cloud first, then fix it" approach.

-->
