<div class="document">
  <%= document.to_s %>
</div>

<!--
need to not render a button, but rather act directly on user input

For all files,
 - I want to see and change the name of the file.
 - I want to click to download the file.
 - I want to be able delete a file

For image files,
 - I want to see a preview



So we are going for the "get it on the cloud first, then fix it" approach.

-->
