<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class=> 'form-horizontal', :method => :put }) do |f| %>

<% if !can_delete_account? %>
<p class="alert alert-error alert-block">
	<b>Note!</b>
	<br/>
	You cannot cancel your account if you own projects where others participate.
</p>
<b>These projects all have users and cannot be deleted automatically.</b>
<ol>
	<% current_user.projects.includes(:memberships).select{|p| p.memberships.count > 1}.each do |p| %>
	<li>
		<%= link_to p, edit_project_path(p) %>
	</li>
	<% end %>
</ol>

<% else%>
<p class="alert alert-error">
	<b>Warning</b>
	<br/>
	If you cancel your account, all projects owned by you will be permanently deleted.
</p>
<% end %>

<div class="form-actions">
	<% if can_delete_account? %>
		<%= hidden_field_tag  %>
		<%= link_to "I know what I'm doing, cancel my account", registration_path(:user, :current_tab => 'cancel-account'), :class => 'btn btn-danger', :confirm => 'You are about to cancel your account. Are you sure?', :method => :delete %>
	<% else %>
		<span class='btn btn-danger disabled'> I know what I'm doing, cancel my account </span>
	<% end %>
</div>
<% end %>