<ul class="nav nav-stacked">
  <li>
    <%= link_to ticket_path(@comment.ticket.id) do %>
      <span class="navico"><i class="icon-arrow-left navico"></i></span>back to ticket
    <% end %>
  </li>  
</ul>
