<ul class="nav nav-stacked">
  <li>
    <%= link_to project_ticket_path(@comment.project, @comment.ticket) do %>
      <span class="navico"><i class="icon-arrow-left navico"></i></span>back to ticket
    <% end %>
  </li>
</ul>
