<div class="row-fluid">
  <div id="comment_preview" class="span12 comment-preview"></div>
</div>

<script type="text/javascript">
  var _enable_preview       = true;
  var _comments_preview_url = "<%= comments_preview_url %>.json";
</script>
