<% content_for :jumbotron do %>
  <div class="jumbotron">
    <%= image_tag 'landing/sample-product.png' %>
    <div class="left">
      <h1>Simple Ticketing and Project Management</h1>
      <p class="lead">Get projects out the door faster with less hassle. Create a project... add some features... setup some sprints... are start getting things done.!</p>
      <a class="btn btn-large btn-info" href="#">Start your Free Trial</a>
    </div>
  </div>
<% end %>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>