<% content_for :jumbotron do %>
  <div class="jumbotron">
    <%= image_tag 'landing/sample-product.png', class: "ss-shadow" %>
    <div class="left">
      <h1>Simple Ticketing and Project Management</h1>
      <p class="lead">Get projects out the door faster and with less hassle. Organise your projects with <strong>tags</strong> and <strong>sprints</strong> and start getting things done!</p>
      <%= link_to 'Register a free account', new_registration_path(:user), class: "btn btn-large btn-info" %>
    </div>
  </div>
<% end %>

<div class="row-fluid marketing">
  <div class="span12">
    <div class="row">
      <div class="span6">
        <h4>Projects</h4>
        <p>Set up a new project in one simple and easy step. Choose a name and decide if it's a public project or not, and you are on your way!</p>
      </div>
      <div class="span6">
        <h4>Tags</h4>
        <p>Tag your tickets and access any tag grouping easily with quick searches. </p>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <h4>Sprints</h4>
        <p>Delivery is managed through sprints. Each sprint has a due date to help you manage deadlines and delivery schedules.</p>
      </div>
      <div class="span6">
        <h4>Tickets</h4>
        <p>Tickets are what it's all about. Each task in your project is represented by a ticket. Attach files, estimate effort and schedule a ticket into a sprint for implementation.</p>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <h4>Participation</h4>
        <p>Getting others to help out on your project is easy: just invite them from the project page! All you need is their email address. Conductor will notify them of your invitation and provide instructions on how to get started.</p>
      </div>
      <div class="span6">
        <h4>Overview</h4>
        <p>We aim to provide a quick and easy project overview. Track implementation and delivery at a glance, or drill down into sprints for more detail.</p>
      </div>
    </div>
  </div>
</div>
