<% content_for :jumbotron do %>
  <div class="jumbotron">
    <h1>Public projects</h1>
    <p class="lead">Create free Public Projects on any plan and we won't charge you a cent! Perfect for companies that champion their own open source projects.</p>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span12">

    <table class="table table-bordered table-striped" id="public-project-list">
      <caption>
        <h2>Public projects</h2>
      </caption>
      <!--title row -->
      <thead>
        <tr>
          <th class="width-5">#</th>
          <th class="width-45">Title</th>
        </tr>
      </thead>
      <tbody>
        <% num = 0
           @projects.each do |project|
             num = num + 1
         %>
        <tr>
          <td><%= num %></td>
          <td><%= link_to project.title, project_path(project) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <h4>Public projects</h4>
    <p>Create free Public Projects on any plan and we won't charge you a cent! Perfect for companies that champion their own open source projects.</p>
  </div>
</div>
