<% content_for :jumbotron do %>
  <div class="jumbotron">
    <h1>Support and Contact Information</h1>
    <p class="lead">because sometimes we also log tickets</p>
  </div>
<% end %>


<div class="row-fluid marketing">
  <div class="span12">
    <h4>Support</h4>
    <p>If you have any questions or queries, or would just like to drop us a line:</p>
    <p>
      Phone us at <a href="callto:+27218519374">+27 21 851 9374</a>
    </p>
    <p>
      or email us at <%= mail_to 'info@conductor-app.com' %>
    </p>
  </div>
</div>
