<!-- Tab panes -->
<div class="tab-content col-md-6">
  <div class="tab-pane active" id="settings_tab" role="tabpanel"><%= render partial: '/users/tabs/settings' %></div>
  <div class="tab-pane" id="projects_tab" role="tabpanel"><%= render partial: '/users/tabs/projects' %></div>
  <div class="tab-pane" id="account_tab" role="tabpanel"><%= render partial: '/users/tabs/account' %></div>
</div>