<div class="loginbox">

	<h1>Welcome to Conductor!</h1>
	<h2>It's the shiz niz in the sprint biz</h2>

	<div>
	  <%= link_to 'sign in', new_user_session_path(), :class => 'btn' %>
	  <%= link_to 'sign up', new_user_registration_path(), :class => 'btn' %>
	</div>

</div>