<h1>Welcome to Conductor!</h1>
<h2>It's the shiz niz in the sprint biz</h2>

<div class="centered">
  <%= link_to 'sign in', new_user_session_path(), :class => 'btn btn-maincolor btn-sign' %>
  <%= link_to 'sign up', new_user_registration_path(), :class => 'btn btn-maincolor btn-sign' %>
</div>
