<ul>
  <li>Pick payment plan</li>
  <li>view remaining plan resources: eg 3 projects of 5 used</li>
  <li>allow user password change</li>
  <li>allow user avatar update</li>
  <li>allow user to change account email if not using social login</li>
</ul>

<div class="text-xs-right">
  <%= link_to  "Save", "#", class: "btn btn-success" %>
</div>