<ul>
  <li>List projects with roles</li>
  <li>Allow changing of roles per project</li>
  <li>Allow leaving a project unless we are the last admin</li>
  <li>Allow transferring a project to another admin</li>
  <li>Allow deleting a project if we are the owner</li>
</ul>
<div class="text-xs-right">
  <%= link_to  "Save", "#", class: "btn btn-success" %>
</div>