<ul>
  <li>Set default tab when viewing a project: boards, tickets, documents</li>
  <li>Set the sort order for a board: ascending, descending by ticket number</li>
  <li>set page size for listings: 10,20,50,unlimited</li>
  <li>3rd party integrations
    <ul>
      <li>github</li>
      <li>bitbucket</li>
      <li>chrome plugin</li>
    </ul>
  </li>
</ul>
<div class="text-xs-right">
  <%= link_to  "Save", "#", class: "btn btn-success" %>
</div>