<tr class="ticket" data-id="">
  <td class="id">id</td>
  <td class="name">name</td>
  <td class="board">board</td>
  <td class="assignee">assignee</td>
  <td class="status">status</td>
  <td class="cost">cost</td>
  <td class="link"><%= link_to "#", class: "link" do %><%= fa_icon "comments" %><% end %></td>
</tr>
