<table class="table table-bordered table-striped">
  <% @sprints.each do |sprint| %>
  <tr class="clickable" data-href="<%= sprint_path(sprint) %>">
    <td><%= sprint.goal %></td>
  </tr>
  <% end %>
  <% if @sprints.count == 0 %>
  <tr>
    <td>There are no sprints</td>
  </tr>
  <% end %>
</table>
