  <h3><%= @sprint.goal %>
    <small>
      due on <b><%= @sprint.due_on %></b>
    </small>
    <small>
      at a cost of <b><%= @sprint.cost %></b>
    </small>
  </h3>

  <%= render :partial => "/tickets/index" %>
