<p><%= @comment.user %> has updated this ticket:</p>

<div>
  <%= @comment.html.html_safe %>
</div>

<p><%= link_to @comment.ticket, project_ticket_url(@comment.project, @comment.ticket) %></p>
