<div class="comment">
  <div class="assignee"><%= fa_icon "user", class: "fa-2x" %></div>
  <div class="content">
    <%= comment.content %>
  </div>
  <div class="status-bar">
    cost|assigned|date of comment|etc
  </div>
</div>
