<table class="table table-bordered table-striped">
  <% tickets.each do |ticket| %>
  <tr class="clickable" data-href="<%= ticket_path(ticket) %>">
    <td><%= ticket.title %></td>
    <td title="status"><%= ticket.status %></td>
    <td title="cost"><%= ticket.cost %></td>
  </tr>
  <% end %>
  <% if tickets.count == 0 %>
  <tr>
    <td>There are no tickets</td>
  </tr>
  <% end %>
</table>
