<% @projects.each do |project| %>
  <div class="well">
    <h3><%= project.title %></h3>
      <%= render :partial => 'index', :locals => {:tickets => project.tickets.select{|t| t.assignee_id == current_user.id }}%>
  </div>
<% end %>