<% current_user.participations.each do |project| %>
  <div class="well">
    <h3><%= link_to project.title, project_path(project) %></h3>
      <%= render :partial => 'index', :locals => { :project_id => project.id, :assignee_id => current_user.id }%>
  </div>
<% end %>
