<%= simple_form_for(@ticket, :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'span12'} %>
  <%= f.input :body, :input_html => {:class => 'span12', :rows => 10}%>
  <div class="form-actions">
    <%= f.submit :class=>'pull-right' %>
  </div>
<% end %>
