<div class="well">
  <h3><%= @ticket.title %></h3>
  <h4><%= @ticket.parent %></h4>
</div>

<%= render :partial => '/comments/comment', :collection => @ticket.comments %>

<%= render :partial => 'form', :locals => {:comment => true}%>

