<ul class="nav nav-stacked">
  <li>
    <%= link_to project_path(@project) do %>
    <span class="navico"><i class="icon-arrow-left navico"></i></span>back to project
    <% end %> 
  </li>
</ul>


