<% unless @project.new_record? %>
<div>
  <ul class="nav nav-stacked span3 fixed-sidebar">
    <% if @project.logo.present? %>
    <li class="text-center">
      <%= image_tag(@project.logo_url(:thumb), :class => 'img-padded') %>
    </li>
    <% end %>
    <%= action_back_to(@project) %>
    <li <% if @current_tab == 'basic-info' %>class="active" <%end%> >
      <a data-toggle="tab" href="#pane-basic-info">
        <span class='navico'>
          <i class='icon-info-sign'></i>
        </span>
        basic info
      </a>
    </li>
    <li <% if @current_tab == 'statuses' %>class="active" <%end%> >
      <a data-toggle="tab" href="#pane-statuses">
        <span class='navico'>
          <i class='icon-tag'></i>
        </span>
        ticket statuses
      </a>
    </li>
    <li  <% if @current_tab == 'access-control' %>class="active" <%end%> >
      <a data-toggle="tab" href="#pane-access-control">
        <span class='navico'>
          <i class='icon-user'></i>
        </span>
        access control
      </a>
    </li>
    <li <% if @current_tab == 'API-keys' %>class="active" <%end%> >
      <a data-toggle="tab" href="#pane-api-keys">
        <span class='navico'>
          <i class='icon-wrench'></i>
        </span>
        API keys
      </a>
    </li>
    <% if can_transfer_project?(@project) %>
    <li <% if @current_tab == 'transfer-project' %>class="active" <%end%> >
      <a data-toggle="tab" href="#pane-transfer-project">
        <span class='navico'>
          <i class='icon-share'></i>
        </span>
        transfer project
      </a>
    </li>
    <% end %>
    <%
      #we explicitly dont render the remove project link in the quick action menus
      #action_remove(@project) if @project && !(@feature || @sprint || @ticket)
    %>
    <% if false && can_delete_project?(@project) %>
    <li <% if @current_tab == 'delete-project' %>class="active" <%end%> >
      <a data-toggle="tab" href="#pane-delete-project">
        <span class='navico'>
          <i class='icon-trash'></i>
        </span>
        delete project
      </a>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
