<table class="table table-bordered table-striped">
  <% @projects.each do |projects| %>
  <tr class="clickable" data-href="<%= project_path(projects) %>">
    <td><%= projects.title %></td>
  </tr>
  <% end %>
  <% if @projects.count == 0 %>
  <tr>
    <td>There are no projects</td>
  </tr>
  <% end %>
</table>
