<% @projects.sort{|a,b| a.title.downcase <=> b.title.downcase}.each do |project| %>
<div class="project-block">
  <% if project.logo.present?%>
    <%= image_tag(project.logo_url(:thumb), :class => 'pull-right') %>
  <% end %>
  <h4>
    <%= link_to project.title, project_path(project) %>
    <br>
    <small>
      <%= project.description %>
    </small>
  </h4>
</div>
<% end %>

