<div class="well">
  <%= render :partial => "/features/index", :locals => {:features => @project.features } %>
</div>

<div class="well">
  <%= render :partial => "/sprints/index", :locals => {:sprints => @project.sprints } %>
</div>

<div class="well" id="tickets-list-container">
  <%= render :partial => "/tickets/index", :locals => {:tickets => @tickets } %>
</div>

