<div class="well">

  <div>
    <%= render :partial => "/features/index", :locals => {:features => @project.features } %>
  </div>

  <div>
    <%= render :partial => "/sprints/index", :locals => {:sprints => @project.sprints } %>
  </div>

  <div>
    <%= render :partial => "/tickets/index" %>
  </div>

</div>
