
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="boards_tab" role="tabpanel"><%= render partial: '/projects/tabs/boards' %></div>
  <div class="tab-pane" id="tickets_tab" role="tabpanel"><%= render partial: '/projects/tabs/tickets' %></div>
  <div class="tab-pane" id="documents_tab" role="tabpanel"><%= render partial: '/projects/tabs/documents' %></div>
  <div class="tab-pane" id="settings_tab" role="tabpanel"><%= render partial: '/projects/tabs/settings' %></div>
</div>