<div class="well">
  <%= render :partial => "/features/index", :locals => {:features => @project.features } %>
</div>

<div class="well">
  <%= render :partial => "/sprints/index", :locals => {:sprints => @project.sprints } %>
</div>

<div class="well">
  <%= render :partial => "/tickets/index" %>
</div>

