<p>
  Your request to join <strong><%= @project.title %></strong> has been sent and
  will be received shortly by the project administrators.
</p>

<p>
  You will be notified via email when your request has been approved.
</p>


