<p>
  Your request to join <strong><%= @project.title %></strong> has been sent and
  will be received shortly by the project administrators.
</p>

<p>
  Please wait a few working days if you don't receive a reply from the project
  administrators before re-trying. <strong>Be patient</strong>. Being insistent
  and sending requests repeatedly will not speed up or improve the outcome of
  your request.
</p>

