<p>You have been invited to participate in the following project on Conductor:</p>
<p><b><%= @project %></b></p>

<p>The project will be included in your list of projects when you log in, or you can got to it directly from here:</p>
<p><%= link_to @project, project_url(@project) %></p>
