.signinbox {
  border-radius: 15px;
  border: 1px solid $main-border-color;
  background-color: $body-bg-color;
  padding: 20px;
  h2, h3 {
    font-family: 'logofont', arial;
  }
  h2 {
    color: $title-color;
    font-size: 15px;
    margin-left: 61px;
    font-weight: bold;
  }
  h3 {
    color: $top-nav-link-color;
    background-color: $top-nav-bg-color;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
  }
}