<h3>Send an invitation</h3>

<%= simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :class=> 'form-horizontal', :method => :post }) do |f| %>
  <div class="form-inputs pull-left">
    <%= f.input :full_name, :required => true, :autofocus => true %>
    <% resource.class.invite_key_fields.each do |field| -%>
      <%= f.input field %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Invite" %>
  </div>
<% end %>






