<h3>Hi <%= @user.full_name || @user.email %></h3>

<p>
  Your request to participate in <strong><%= @project.title %></strong> has been sent to the project administrator(s).
</p>

<p>
  You will be notified via email when your request has been approved, at which point the project will automatically be added to your list of available projects.
</p>

