// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.last {
  input {
    margin-bottom: 10px;
  }

  label.bigger {
    font-size: 20px;
    margin-top: 6px;
    display: inline;
  }
}