@font-face {
  font-family: 'logofont';
  src: local('BELCESUB.TTF');
  src: url('/fonts/BELCESUB.TTF');
  advancedAntiAliasing: true;
}

p, b, .label {
  font-family: arial;
}

a, a:hover {
	color: #579803;
}

h1 {
  border: 1px solid #ddd;
  padding:9px 20px;
  background-color: white;
  font-size: 22px;
  line-height: 25px;
  color: #579803;
  font-variant: small-caps;
}

/*have to list them all otherwise bootstrap overwrites by dint of specificity*/
textarea:focus
, input[type="text"]:focus
, input[type="password"]:focus
, input[type="datetime"]:focus
, input[type="datetime-local"]:focus
, input[type="date"]:focus
, input[type="month"]:focus
, input[type="time"]:focus
, input[type="week"]:focus
, input[type="number"]:focus
, input[type="email"]:focus
, input[type="url"]:focus
, input[type="search"]:focus
, input[type="tel"]:focus
, input[type="color"]:focus
, .uneditable-input:focus
 {
  border: 1px solid #92e12a;
  box-shadow: none;
  outline: none;
  }

abbr[title] {
  cursor: help;
  border-bottom: 0;
  color: #92e12a;
  font-weight: bold;
}

.btn-maincolor {
  background-color: #A9FD3C;
  border: 1px solid #92e12a;
  background-image: none;
  font-size: 13px;
  font-weight: bold;
  font-family: arial;
  padding: 7px 10px;
  border-radius: 5px;
  color: #434343;
  &:hover {
    background-color: #92e12a;
  }
}

/*margin centering won't work without a fixed width & unfloated parent - float currently cause by row-fluid*/
.centered {
  text-align: center;
  margin: 30px auto;
}

.footer {
	margin: 60px auto;
	width: auto;
	text-align: center;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	border-top: 1px dashed #ABABAB;
	border-bottom: 1px dashed #ABABAB;
}


td.count {
  width: 40px;
}
