/*backgrounds*/
$top-nav-bg-color: #2F96B4; /*mid blue*/
$body-bg-color: white;
$alt-table-row-bg-color: #f9f9f9; /*pale grey*/

/*text*/
$primary-link-color: #2F96B4;  /*mid blue*/
$top-nav-link-color: white;
$top-nav-link-shadow: #00749C; /*dark blue*/
$primary-text-color: #333;  /*dark grey*/
$title-color: #A5A5A5; /*mid grey*/

/*borders*/
$main-border-color: #ddd; /*light BS grey*/
$dashed-footer-color: #A5A5A5; /*mid grey*/
$primary-focus-color: #2F96B4;  /*mid blue*/

/*labels*/
$label-feature-color: #579803; /*mid green*/
$label-sprint-color: #008B8B; /*darkcyan*/