.comment-collection div:first-child {
	background-color: #F5F5F5;
	padding: 20px;
	margin-bottom: 30px;
}

.comment-collection div:nth-child(n+2) .comment-body {
	padding: 5px 18px;
	background-color: #F5F5F5;
}

/*this is in lieu of a plain span12 that kept stubborny insisting on giving a left margin, for reasons as yet unknown to humankind*/
.twocolumn-container {
	margin-left: 0;
	width: 100%;
}

