// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-container {
}

hr {
  border: solid 1px #579803;
  width: 80%;
  margin: 15px auto;
}

div.comment-statusbar {
  background-color: #579803;
  ul  {
    list-style-type: none; //bootstrap supports this, but not in the gem we use...yet we should drop this style when "class='inline' is available"
    border-left: 1px solid grey;
    li {
      border-right: 1px solid grey;
    }
  }
  .comment-actions {
    a {
      color: white;
    }

  }
}