@font-face {
	font-family: zen;
	src: url('/fonts/STYMIEL.TTF') format('opentype');	
}

@font-face {
	font-family: zenbold;
	src: url('/fonts/STYMIEB.TTF') format('opentype');	
}

body.error-page {
	background-color: white;

	.error-container {
	   width: 100%;
	   margin-top: 10%;
	}

	.errorpic {
		background-repeat: no-repeat;
		width: 455px;
		height: 486px;
	}

	.error403pic {
		background-image: url('/img/error403-pic.jpg');
	}

	.error404pic {
		background-image: url('/img/error404-pic.jpg');
	}

	.error500pic {
		background-image: url('/img/error500-pic.jpg');
	}

	.message, .error-container h1 {
		font-family: zen;
		color: #5789b8;
		font-size: 24px;
		h1 {
		font-family: zenbold;
		text-transform: uppercase;
		margin: 40px 0px;
		}
		a {
		background-image: url('/img/arrow.png');
		background-repeat: no-repeat;
		padding-left: 20px;
		position: absolute;
		}
		p {
		line-height: 24px;
		}
	}
}