ul.nav {
  li.heading {
    padding-left: 50px;
    a {
      color: $top-nav-link-color;
      font-size: 15px;
    }
  }
}

.login {
  font-size: 12px;
  line-height: 24px;
  color: $top-nav-link-color;
  &:hover {
    color: $top-nav-link-color;
  }
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
  font-size: 15px;
  &:hover, 
  &:active,
  &:focus {
    color: $top-nav-link-color;
    text-shadow: 2px 2px $top-nav-link-shadow;
  }
}

.dropdown-menu li > a {
  &:hover,
  &:active {
  background-color: $alt-table-row-bg-color;
  background-image: none;
  color: $primary-text-color;
  }
}

.caret
{
  border-top-color: $top-nav-link-color !important;
  border-bottom-color: $top-nav-link-color !important;
  margin-left: 5px;
}

.navbar .brand {
	background-image: url('logo-white.png');
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 40px;
  padding-top: 11px;
  font-family: 'logofont', arial;
  text-transform: uppercase;
  font-size: 19px;
  color: #fff;
}

.navbar-inner {
	background-color: $top-nav-bg-color;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($top-nav-bg-color), to($top-nav-bg-color));
	background-image: -o-linear-gradient(top, $top-nav-bg-color, $top-nav-bg-color);
	background-image: linear-gradient(top, $top-nav-bg-color, $top-nav-bg-color);
}

span.navico {
  display: inline-block;
  padding: 8px 10px 6px;
  margin: 6px 15px 5px 0;
  border-right: 1px solid $main-border-color;
  }

.nav-stacked {
  border-left: 1px solid $main-border-color;
  border-right: 1px solid $main-border-color;
  border-top: 1px solid $main-border-color;
  li {
    border-bottom: 1px solid $main-border-color;
  }
  li:nth-child(2n) {
  background-color: $alt-table-row-bg-color;
  }
}

.footer {
  margin: 60px auto;
  width: auto;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  border-top: 1px dashed $dashed-footer-color;
  border-bottom: 1px dashed $dashed-footer-color;
}