ul.nav {
  li.heading {
    color:#f0f0f0;
    font-size: 15px;
    padding: 0px 15px 10px;
    padding-left: 50px;
    font-weight: bold;
  }
}

.login, .login:hover {
  font-size: 12px;
  line-height: 24px;
  color: #ABFF3D;
  text-decoration: none;
  .caret {
    margin-top: 17px;
    margin-left: 7px;
  }
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
  font-size: 15px;
  &:hover,
  &:active,
  &:focus {
    color: #ABFF3D;
  }
}

.dropdown-menu li > a {
  &:hover,
  &:active {
  background-color: #F0F0F0;
  background-image: none;
  color: black;
  }
}

.green-caret
{
  border-top-color: #A9FD3C !important;
  border-bottom-color: #A9FD3C !important;
  margin-left: 5px;
}

.navbar .brand {
	background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 40px;
  padding-top: 11px;
  font-family: 'logofont', arial;
  text-transform: uppercase;
  font-size: 19px;
  color: #fff;
}

span.navico {
  display: inline-block;
  padding: 8px 10px 6px;
  margin: 6px 15px 5px 0;
  border-right: 1px solid #ddd;
  }

.nav-stacked {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  li {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }
  li:nth-child(2n) {
  background-color: #f9f9f9;
  }
}

.footer {
  margin: 60px auto;
  width: auto;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  border-top: 1px dashed #ABABAB;
  border-bottom: 1px dashed #ABABAB;
  background-color: #fff;
}
