// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.nav {
  li.heading {
    padding-left: 50px;
    a {
      color:#f0f0f0;
      font-size: 15px;
    }
  }
}