.label {
  padding: 5px 2px;
}

#git-commands h5, #git-commands-toggle {
  cursor: pointer;
}

.attach-asset {
  margin-left: 180px;
}

#ticket-list th, .table-striped th {
  font-family: arial;
  font-size: 12px;
  color: #A5A5A5;
  font-weight: lighter;
  line-height: 10px;
  height: 10px;
}

#ticket-list {
  span.non-member{
    color: #d55;
  }
}

.ticket-statusbar {
  color: $status-text-color;
  margin-top: -10px;
  ul {
    li {
      padding-left: 0px;
    }
  }
}

.form-search {
  margin: 0 0 5px;
}

.ticket-title {
  h1 {
    color: $primary-link-color;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 10px;
    margin-top: -5px;

  }
}

.ticket-result-summary {
  color: #6f6f6f;
  font-size: 12px;
  text-align: right;
}

.taglist .badge {
  font-size: 0.8em;
}
