.ticket-info {
  width: 335px;
}

.label {
  padding: 5px 2px;
  text-shadow: none;
}
.label-ticket {
  width:100px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-missing {
  width:100px;
  display: inline-block;
  background: none;
}
.label-feature {
  background-color: $label-feature-color;
}
.label-sprint {
  background-color: $label-sprint-color;
}

#git-commands h5, #git-commands-toggle {
  cursor: pointer;
}

.attach-asset {
  margin-left: 180px;
}