// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket-info {
  text-align: center !important;
  .label:empty {
    display: inline-block;
  }
}

.label {
  padding: 5px 2px;
}
.label-ticket {
  width:29%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-missing {
  background: none;
}
.label-feature {
  background-color: #579803;
}
.label-sprint {
  background-color: darkcyan;
}
.label-status {
  //use default grey
}

#git-commands h5, #git-commands-toggle {
  cursor: pointer;
}

.attach-asset {
  margin-left: 180px;
}

#ticket-list th, .table-striped th {
  font-family: arial;
  font-size: 12px;
  color: #A5A5A5;
  font-weight: lighter;
  line-height: 10px;
  height: 10px;
}

.form-search {
  margin: 0 0 5px;
}

.ticket-title {
  h1 {
    color: #579803;
  }
}