<ul class="nav nav-pills nav-stacked">
  <% if action_name == 'show' %>
    <li>
      <%= link_to 'edit this feature', edit_project_feature_path(@feature.project,@feature) %>
    </li>
    <li>
      <%= link_to 'remove this feature', project_feature_path(@feature.project,@feature), :method => :delete %>
    </li>
  <% end %>
  <% if action_name != 'new' %>
    <li>
      <%= link_to 'add a new feature', new_project_feature_path(@feature.project,@feature) %>
    </li>
  <% end %>
</ul>

