<%= simple_form_for([@feature.project,@feature], :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'span12'} %>
  <%= f.input :description, :input_html => {:class => 'span12'}%>
  <div class="form-actions">
    <%= f.submit :class=>'pull-right' %>
  </div>
<% end %>
