<table class="table table-bordered table-striped">
  <caption>
    <h2>Features</h2>
  </caption>
  <tr>
    <th class="span1">#</th>
    <th>Title</th>
    <th class="span1">Tickets</th>
  </tr>
  <% features.each do |feature| %>
  <tr>
    <td><%= feature.id %></td>
    <td><%= link_to feature.title, project_feature_path(feature.project, feature) %></td>
    <td class="span1 count" title="tickets in this feature"><span class="badge badge-info"><%= feature.assigned_tickets.count %></span></td>
  </tr>
  <% end %>
  <% if features.count == 0 %>
  <tr>
    <td colspan="3">There are no features</td>
  </tr>
  <% end %>
</table>
