<table class="table table-bordered table-striped">
  <% @features.each do |feature| %>
  <tr class="clickable" data-href="<%= feature_path(feature) %>">
    <td><%= feature.title %></td>
  </tr>
  <% end %>
  <% if @features.count == 0 %>
  <tr>
    <td>There are no features</td>
  </tr>
  <% end %>
</table>
