<div class="well">
  <h3><%= @feature.title %></h3>
  <div>
    <%= @feature.description %>
  </div>

  <h3>Tickets</h3>
  <%= render :partial => "/tickets/index", :locals => {:tickets => @feature.tickets } %>
</div>

