<div class="row-fluid">
  <div class="span8 offset2 footer">
    <p class="pull-left">Copyright © 2007 – 2013 activereload/entp. All Rights Reserved.</p>
    <ul class="inline pull-right">
      <li><a href="#">Support</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
  </div>
</div>

