<div class="container-fluid">
  <footer class="footer">
    <% if Rails.env.staging? || Rails.env.development? %>
    <%= Rails.env %>
    <% end %>
    <span class="pull-left">&copy; Shuntyard Technologies 2012</span>
    <%= Date.today.to_s %>
    <span class="pull-right">support@shuntyard.co.za</span>
  </footer>
  <!-- 2012/11/15 -->
</div>
