<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				Conductor
			</a>
			<% if user_signed_in? %>
			<ul class="nav">
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "Projects", projects_path %>
				</li>
				<li>
					<%= link_to "Tickets", tickets_path %>
				</li>

			</ul>
			<% end %>
		</div>
	</div>
</div>